<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
   <menu>
       <add id="Learning_AnimalFarm::home" title="Animal listing" module="Learning_AnimalFarm" sortOrder="1" resource="Magento_Backend::content" />
       <add id="Learning_AnimalFarm::child" title="Animals" parent="Learning_AnimalFarm::home" module="Learning_AnimalFarm" sortOrder="1" resource="Magento_Backend::categories" />
   </menu>
</config>
